* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
}

#webDevelopment {
  background-image: url(../images/paper01.png);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 50px;
  /* text-align: right; */
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 1%;
  width: 500px;
  height: 300px;
}

#audioProduction {
  background-image: url(../images/record.png);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 50px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 1%;
  width: 500px;
  height: 300px;
}

#photography {
  background-image: url(../images/paper03.png);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 50px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 1%;
  width: 500px;
  height: 300px;
} 

#contact {
  background-image: url(../images/paper04.png);
  display: flex;
  flex-wrap: wrap;
  padding:0px;
  margin: 50px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 1%;
  width: 500px;
  height: 300px;
}

#share {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
  margin: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 1%;
  width: 500px;
  height: 300px;
} 

/* format contact form */

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  width: 200px;
  height: 10px;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
}

form {
  display: flex;
  flex-direction: vertical;

}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

textarea#subject {
  height: auto;
  width: auto;
  resize: none;
}

input {
  width: 100px;
}

#company {
  font-size:  large;
  padding-left: 20px;
  padding-right: 0px;
  padding-bottom: 50px;
}

#industry {
  padding-top: 5px;
}

#location {
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 50px;
}

#name {
  padding-top: 130px; 
  padding-bottom: 70px;
  padding-left: 10px;
  padding-right: 00px;
  font-size: large;
}

#url {
  color: black;
  font-size: small;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 50px;
}

#industry {
  font-size: small;
}
#email {
  padding-left: 10px;
  font-size: small;

}
#centering {
  padding-left: 160px;
  padding-top: 125px;
  padding-bottom: 125px;
}

#title {
  font-size: small;
}

#audioControls {
  padding-left: 85px;
}
#producedby {
  padding-top: 180px;
}

#title {
  padding-left: 50px;
  padding-top: 10px;
}

#qrcode:hover {
  width: 255px;
  box-shadow: 5px 5px 5px #999;
}

#photography:hover {
  background-image: url(../images/newengood.gif);
  background-size:cover;
}

#webDevelopment:hover {
  text-shadow: 2px 2px 20px white;
  border-color:white;
}

#audioProduction:hover {
  text-shadow: 2px 2px 20px white; 
}

#contact:hover {
  text-shadow: 2px 2px 20px white; 
  border-color:white;
}
